body {
    font-family: "Lato", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: rgba(229, 84, 115, 0.1);
}

.header-title {
    display: flex;
    margin: 40px 70px 70px;
    align-items: center;
    justify-content: space-between;
}

.head-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    text-align: left;
}

.head-text {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.primary-btn {
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    color: white;
}

.header-img {
    padding-left: 20px;
}

/* featured section */
.featured-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.featured-context {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}